body {
  /* background: #394046 !important; */
  background: #22262a !important;
}

.container{
    font-family: 'Titillium Web', sans-serif;
}

.navbar-text.bottom {
  margin-right: auto;
  margin-left: auto;
  opacity: 50%;
}

.span-math{
  color:#ff3300;
}

.bg-dark{
background-color: #171a1c !important;
}


.bg-warning-custom {
  background-color: #332600;
}

.container-fixed-width {
  max-width: 950px;
}

.container-spacer {
  min-height: 50px;
}