# ignore the folder named r_admin_use since it contains db.ini db connection file
#r_admin_use/

# ignore the file literally named foo[01].txt
db_test_working.py
r_admin_use/db.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]